<a href="https://colab.research.google.com/github/rohitthapar/Sampling/blob/main/SamplingAssignment_102003482_RohitThapar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Sampling Assignment 
# Rohit Thapar
# 3CO19
# 102003482

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Creditcard_data.csv')

In [2]:
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.ensemble import RandomForestClassifier
def RandomForest(X_train, y_train, X_test, y_test):
  clf = RandomForestClassifier(n_estimators = 2)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [4]:
from sklearn.neighbors import KNeighborsClassifier
def KNN(X_train, y_train, X_test, y_test):
  knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)
  knn_pred = knn.predict(X_test)
  return accuracy_score(y_test,knn_pred)

In [5]:
from sklearn.tree import DecisionTreeClassifier
def DecisionTree(X_train, y_train, X_test, y_test):
  tree = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)
  tree_pred = tree.predict(X_test)
  return accuracy_score(y_test,tree_pred)

In [6]:
from sklearn.linear_model import LogisticRegression
def Logistic(X_train, y_train, X_test, y_test):
  clf = LogisticRegression()
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [7]:
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
def SVC(X_train, y_train, X_test, y_test):
  svm = SGDClassifier(loss='hinge')
  svm.fit(X_train, y_train)
  y_pred = svm.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [8]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
from sklearn.preprocessing import normalize
Amount = normalize([df['Amount']])[0]
df['Amount'] = Amount
df = df.iloc[:, 1:]

In [10]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [11]:
clas = df["Class"].value_counts(normalize=False)
print(clas)

0    763
1      9
Name: Class, dtype: int64

In [12]:
X = df.drop('Class', axis=1)
y = df['Class']

In [13]:
# over sampling the minority data -> balancing the imbalanced dataset
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_r, y_r = ros.fit_resample(X, y)

In [14]:
clas = y_r.value_counts(normalize=False)
print(clas)

0    763
1    763
Name: Class, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_dummy, X_test, y_dummy, y_test = train_test_split(X_r, y_r, test_size=0.33, random_state=42)

In [16]:
df_new = pd.concat([X_r, y_r], axis=1)
df_new

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [17]:
z = 1.96 #95% confidence level
p = 0.5
e = 0.05 #5% esimated margin of error

***SIMPLE RANDOM SAMPLING***

In [18]:
#Simple Random Sampling 
import math
n_srs = (z*z*p*(1-p))/(e*e)
n_srs = math.floor(n_srs)
print(n_srs)

384

In [19]:
# from pandas.core.dtypes.generic import DataFrame
import random
def random_sampling(df, n_srs):
    random_sample = df.sample(n = n_srs)
    return(random_sample)
randomSample = random_sampling(df_new, n_srs)

In [20]:
randomSample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69,-1.923213,-0.870482,2.320170,1.988776,0.417091,-0.380014,0.472139,-0.557333,-0.649079,1.410889,...,-0.686488,-0.779268,1.086055,0.518863,-0.363712,3.065576,-0.589022,-0.396110,0.006019,0
863,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
99,1.232996,0.189454,0.491040,0.633673,-0.511574,-0.990609,0.066240,-0.196940,0.075921,-0.066060,...,-0.251566,-0.770139,0.125998,0.369627,0.205598,0.094062,-0.033138,0.020990,0.002750,0
1379,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0

In [21]:
X_srs = randomSample.drop('Class', axis=1) #X_train
y_srs = randomSample['Class'] #y_train

In [22]:
len(y_srs)

384

In [23]:
srs_RandomForest = RandomForest(X_srs,y_srs,X_test,y_test)
srs_DecisionTree = DecisionTree(X_srs,y_srs,X_test,y_test)
srs_KNN = KNN(X_srs,y_srs,X_test,y_test)
srs_logistic = Logistic(X_srs,y_srs,X_test,y_test)
srs_svc = SVC(X_srs,y_srs,X_test,y_test)

a1 = [srs_RandomForest,srs_DecisionTree,srs_KNN,srs_logistic,srs_svc]

In [24]:
a1

[0.9920634920634921,
 0.9305555555555556,
 0.9444444444444444,
 0.9166666666666666,
 0.7738095238095238]

***STRATIFIED SAMPLING***

In [25]:
#Stratified Sampling
import math
s = 2 #no of strata
n_strat = (z*z*p*(1-p))/(e*e/s*s)
n_strat = math.floor(n_srs)
print(n_strat)

384

In [26]:
# stratified sampling
from sklearn.model_selection import train_test_split
strata = df_new.groupby('Class')
stratified_df = strata.apply(lambda x: x.sample(n_strat))
stratified_df

                  V1        V2        V3        V4        V5        V6  \
Class
0     173  -0.820860  1.022567  1.996560  1.180141  0.232464 -0.123953
      532   1.091666  0.068682  1.230334  2.554474 -0.454169  0.915781
      607  -0.528218  0.981232  1.652988 -0.150715  0.137048 -0.203980
      45    1.138316  0.056956  0.649419  0.873062 -0.468466 -0.410195
      701  -0.690417  1.322681  0.910911  0.112849 -0.356281 -1.044902
...              ...       ...       ...       ...       ...       ...
1     1146 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
      1241 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262
      1185  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
      1461  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
      541  -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545

                  V7        V8        V9       V10  ...       V21       V22  \
Class                                               ...
0     173   0.684371 -0.008256 -0.572410 -0.404867  ...  0.000169  0.183382
      532  -0.701016  0.396866  0.307571  0.475235  ... -0.098440 -0.178428
      607   0.583370  0.165246 -0.781696 -0.211147  ... -0.123569 -0.272731
      45   -0.013898 -0.072440  0.306788 -0.269953  ... -0.164222 -0.247401
      701   0.330444  0.387623 -0.471599 -0.721575  ... -0.224965 -0.751207
...              ...       ...       ...       ...  ...       ...       ...
1     1146 -2.537387  1.391657 -2.770089 -2.772272  ...  0.517232 -0.035049
      1241 -2.110183  0.788347  0.958809 -0.328631  ...  0.422452  1.195394
      1185 -0.078803  0.085102 -0.255425 -0.166974  ... -0.225775 -0.638672
      1461 -0.078803  0.085102 -0.255425 -0.166974  ... -0.225775 -0.638672
      541  -2.537387  1.391657 -2.770089 -2.772272  ...  0.517232 -0.035049

                 V23       V24       V25       V26       V27       V28  \
Class
0     173  -0.299915  0.431806  0.456705 -0.213298 -0.033161  0.088372
      532   0.007277 -0.504025  0.255974  0.022213  0.048714  0.027057
      607   0.023887  0.223936 -0.297777  0.068300  0.281018  0.111557
      45    0.059405  0.456286  0.361004  0.274414 -0.002498  0.017109
      701   0.061962  0.315721 -0.154944  0.076185  0.114245  0.034451
...              ...       ...       ...       ...       ...       ...
1     1146 -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276
      1241  0.297836 -0.857105 -0.219322  0.861019 -0.124622 -0.171060
      1185  0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724
      1461  0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724
      541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276

              Amount  Class
Class
0     173   0.001718      0
      532   0.002612      0
      607   0.001202      0
      45    0.003670      0
      701   0.001671      0
...              ...    ...
1     1146  0.000000      1
      1241  0.000258      1
      1185  0.000463      1
      1461  0.000463      1
      541   0.000000      1

[768 rows x 30 columns]

In [27]:
stratified_df.head()

                 V1        V2        V3        V4        V5        V6  \
Class
0     173 -0.820860  1.022567  1.996560  1.180141  0.232464 -0.123953
      532  1.091666  0.068682  1.230334  2.554474 -0.454169  0.915781
      607 -0.528218  0.981232  1.652988 -0.150715  0.137048 -0.203980
      45   1.138316  0.056956  0.649419  0.873062 -0.468466 -0.410195
      701 -0.690417  1.322681  0.910911  0.112849 -0.356281 -1.044902

                 V7        V8        V9       V10  ...       V21       V22  \
Class                                              ...
0     173  0.684371 -0.008256 -0.572410 -0.404867  ...  0.000169  0.183382
      532 -0.701016  0.396866  0.307571  0.475235  ... -0.098440 -0.178428
      607  0.583370  0.165246 -0.781696 -0.211147  ... -0.123569 -0.272731
      45  -0.013898 -0.072440  0.306788 -0.269953  ... -0.164222 -0.247401
      701  0.330444  0.387623 -0.471599 -0.721575  ... -0.224965 -0.751207

                V23       V24       V25       V26       V27       V28  \
Class
0     173 -0.299915  0.431806  0.456705 -0.213298 -0.033161  0.088372
      532  0.007277 -0.504025  0.255974  0.022213  0.048714  0.027057
      607  0.023887  0.223936 -0.297777  0.068300  0.281018  0.111557
      45   0.059405  0.456286  0.361004  0.274414 -0.002498  0.017109
      701  0.061962  0.315721 -0.154944  0.076185  0.114245  0.034451

             Amount  Class
Class
0     173  0.001718      0
      532  0.002612      0
      607  0.001202      0
      45   0.003670      0
      701  0.001671      0

[5 rows x 30 columns]

In [28]:
X_st = stratified_df.drop('Class', axis=1) #X_train
y_st = stratified_df['Class'] #y_train

st_RandomForest = RandomForest(X_st,y_st,X_test,y_test)
st_DecisionTree = DecisionTree(X_st,y_st,X_test,y_test)
st_KNN = KNN(X_st,y_st,X_test,y_test)
st_logistic = Logistic(X_st,y_st,X_test,y_test)
st_svc = SVC(X_st,y_st,X_test,y_test)

a2 = [st_RandomForest,st_DecisionTree,st_KNN,st_logistic,st_svc]

In [29]:
a2

[1.0,
 0.9345238095238095,
 0.9603174603174603,
 0.9206349206349206,
 0.9305555555555556]

***CLUSTER SAMPLING***

In [30]:
from sklearn.cluster import KMeans
#no of clusters = 10
kmeans = KMeans(n_clusters=10, random_state=42).fit(df_new)
cluster_assignments = kmeans.labels_
cluster = [1,3,5,6,8]
cluster_series = pd.Series(cluster_assignments)
cluster_df = df_new[cluster_series.isin(cluster)]

In [31]:
cluster_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
5,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,0.000631,0

In [32]:
X_C = cluster_df.drop('Class', axis=1) #X_train
y_C = cluster_df['Class'] #y_train

C_RandomForest = RandomForest(X_C,y_C,X_test,y_test)
C_DecisionTree = DecisionTree(X_C,y_C,X_test,y_test)
C_KNN = KNN(X_C,y_C,X_test,y_test)
C_logistic = Logistic(X_C,y_C,X_test,y_test)
C_svc = SVC(X_C,y_C,X_test,y_test)

a3 = [C_RandomForest,C_DecisionTree,C_KNN,C_logistic,C_svc]

***SYSTEMATIC SAMPLING***

In [33]:
#Systematic Sampling
interval = 3
systematic_df = df_new.iloc[::interval]
systematic_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1515,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1518,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1

In [34]:
systematic_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0

In [35]:
X_sy = systematic_df.drop('Class', axis=1) #X_train
y_sy = systematic_df['Class'] #y_train

sy_RandomForest = RandomForest(X_sy,y_sy,X_test,y_test)
sy_DecisionTree = DecisionTree(X_sy,y_sy,X_test,y_test)
sy_KNN = KNN(X_sy,y_sy,X_test,y_test)
sy_logistic = Logistic(X_sy,y_sy,X_test,y_test)
sy_svc = SVC(X_sy,y_sy,X_test,y_test)

a4 = [sy_RandomForest,sy_DecisionTree,sy_KNN,sy_logistic,sy_svc]

In [36]:
a4

[0.9920634920634921,
 0.9365079365079365,
 0.9543650793650794,
 0.9186507936507936,
 0.9325396825396826]

# ***convenience sampling***

In [37]:
#convenience sampling
convenience_sample = pd.concat([df_new.head(380), df_new.tail(380)])
convenience_sample

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [38]:
convenience_sample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [39]:
X_cs = convenience_sample.drop('Class', axis=1) #X_train
y_cs = convenience_sample['Class'] #y_train

cs_RandomForest = RandomForest(X_cs,y_cs,X_test,y_test)
cs_DecisionTree = DecisionTree(X_cs,y_cs,X_test,y_test)
cs_KNN = KNN(X_cs,y_cs,X_test,y_test)
cs_logistic = Logistic(X_cs,y_cs,X_test,y_test)
cs_svc = SVC(X_cs,y_cs,X_test,y_test)

a5 = [cs_RandomForest,cs_DecisionTree,cs_KNN,cs_logistic,cs_svc]

In [40]:
a5

[0.996031746031746,
 0.9365079365079365,
 0.9623015873015873,
 0.9226190476190477,
 0.9365079365079365]

In [42]:
data = {
    'Model' : ['Random Forest','Decision Tree','KNN','Logistic Regression','SVC'],
    'Simple Random Sampling' : a1,
    'Stratified Sampling' : a2,
    'Cluster Sampling' : a3,
    'Systematic Sampling' : a4,
    'Convenience Sampling' : a5
}

In [43]:
final_df = pd.DataFrame(data)

# ***Final table showing accuracy of each model with different sampling techniques***

In [44]:
final_df

,Model,Simple Random Sampling,Stratified Sampling,Cluster Sampling,Systematic Sampling,Convenience Sampling
0,Random Forest,0.992063,1.000000,0.773810,0.992063,0.996032
1,Decision Tree,0.930556,0.934524,0.793651,0.936508,0.936508
2,KNN,0.944444,0.960317,0.771825,0.954365,0.962302
3,Logistic Regression,0.916667,0.920635,0.763889,0.918651,0.922619
4,SVC,0.773810,0.930556,0.765873,0.932540,0.936508